* {
    box-sizing: border-box;
}

body {
    border: 1px solid red;  
    margin: 0;
    font-family: "Oswald', sans-serif";
    background-color: rgb(252, 248, 248);
    overflow-x: hidden;
    font-size: 16px;
}

.button {
    margin: 15px 5px 0px 5px;
    border-radius: 20px;

    background-color: #c09f45;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #5f5e33;
}

.control-label {
    margin: 25px 0px 0px 0px;
}

img {
    max-width: 100%;
}

html {
    /* font-size: 62.5%; */
    --header-height: 80px;
    --aside-width: 240px;
}


/* =================  header區域   =====================*/
header.header {
    width: 100%;
    height: var(--header-height);
    background-color: #d7ab75;
    position: fixed;
    top: 0;
    left: 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: bold;
}

.header-inner {
    /* Make it stick */
    height: var(--header-inner-height);
    position: sticky;
    top: 1;
    /* Other */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
}

/* Styling of other elements */

.header-logo img {
    display: block;
    height: calc(var(--header-inner-height) - 30px); 
    height: 100px; 
    width: 95px;
    text-align: center; 
}

.header-logo {
    display: block;
    font-size: 32px;
}

header ul {
    margin-right: 40px;
}

.header-navigation li {
    font-size: 1.125rem;
    margin-right: 1.75rem;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    margin-top: 5px;
}

.header-navigation li>a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.header-navigation li:hover:after {
    transform: scalex(1);
}

.header-navigation li:after {
    transition: 0.25s ease;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -2px;
    left: 0;
}

/* 登入區塊 */
.updateform {
    margin: 0 auto 100px;
    padding: 45px;
    margin-top: 50px;
    max-width: 480px;
    min-height: calc(60vh - var(--header-height));
    padding: 20px;
    position: relative; 
    z-index: 1;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* .form-horizontal {
    padding-left: 40px;
} */

.updateform label {
    color: #f0652f;
}

.form-control {
    border-color: #e97445;
    height: 28px;
    width: 300px;
}

.textarea {
    border-color: #e97445;
    width: 500px;
    height: 200px;
    resize: none;
}

/* Toggle Styles */

#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

/* sidebar */
.sidebar-toggle {
    margin-left: -240px;
}

.sidebar {
    width: 240px;
    height: 100%;
    background: #d7ab75;

    float: left;

    /* position: absolute; */
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 100;
    margin: 40px;
}

.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
    margin: -2px 0 0;
    padding: 0;
}

.sidebar #leftside-navigation ul li {
    list-style-type: none;
    border-bottom: 1px solid #FFFFFF;
}

.sidebar #leftside-navigation ul li.active>a {
    color: #1abc9c;
}

.sidebar #leftside-navigation ul li.active ul {
    display: block;
}

.sidebar #leftside-navigation ul li a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 20px;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.sidebar #leftside-navigation ul li a:hover {
    color: #1abc9c;
}

.sidebar #leftside-navigation ul li a span {
    display: inline-block;
}

.sidebar #leftside-navigation ul li a i {
    width: 20px;
}

.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
    padding-top: 3px;
}

.sidebar #leftside-navigation ul ul {
    display: none;
}

.sidebar #leftside-navigation ul ul li {
    background: #d7ab75;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
}

.sidebar #leftside-navigation ul ul li a {
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #FFFFFF;
}

/* 會員資訊內容 */
td {
    margin: 20px 0px 20px 0px;
}

.main_content {
    width: 70%;
    height: 200px;
    float: center;
    margin: 40px 200px 0px 400px;
}

.main_content2 {
    float: center;
    margin: 40px 200px 0px 400px;
    font-size: 20px;
}

/* 會員頭象 */
.member_pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/* 會員頭象 */