/* =================  all   =====================*/
*{
    box-sizing: border-box;
}

body{
    /* border: 1px solid red;  */
    margin: 0;
    font-family:"Oswald', sans-serif";
    background-color: rgb(252, 248, 248);
}

img{
    max-width: 100%;
}

html{
    /* font-size: 62.5%; */
    --header-height: 80px;
    --aside-width: 240px;
}
/* =================  all   =====================*/

/* =================  header區域   =====================*/
header.header {        
    width: 100%;
    height: 100px;
    background-color: #d7ab75;
    position: fixed;
    top: 0;
    left: 0;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF; 
    font-weight: bold;   
    z-index: 2;              
}

.header-inner { 
        /* Make it stick */ 
        height: var(--header-inner-height); 
        position: sticky; 
        top: 1; 
        /* Other */ 
        display: flex; 
        align-items: center; 
        justify-content: space-between;
        padding-left: 60px; 
} 
        /* Styling of other elements */ 
     
.header-logo img { 
        display: block; 
        height: calc(var(--header-inner-height) - 30px); 
        width: 95px; 
        text-align: center; 
} 
     
.header-logo { 
    display: block; 
    font-size: 32px; 
}

header ul {
    margin-right: 40px;
}   

.header-navigation li{
    font-size: 1.125rem;             
    margin-right: 1.75rem;            
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    margin-top: 5px;                                              
}

.header-navigation li > a{
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: bold;
}
    
.header-navigation li:hover:after{ 
    transform: scalex(1); 
}

.header-navigation li:after{ 
    transition: 0.25s ease; 
    content: ""; 
    display: block; 
    width: 100%; 
    height: 2px; 
    background-color: currentcolor; 
    transform: scalex(0); 
    position: absolute; 
    bottom: -2px; 
    left: 0; 
}
/* =================  header區域   =====================*/

/* =================  登入區塊   =====================*/
.updateform {
    margin: 0 auto 100px;
    padding: 45px;
    margin-top: 50px;
    max-width: 480px;
    min-height: calc(60vh - var(--header-height));
    padding: 20px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-horizontal {
    padding-left: 40px;
}

.updateform label {
    color: #f0652f;
}

.form-control {
    border-color: #e97445;
    height: 28px;
    width: 300px;
}

.textarea {
    border-color: #e97445;
    width: 500px;
    height: 200px;
    resize: none;
}
/* =================  登入區塊   =====================*/

/* Toggle Styles */
#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}

/* =================  sidebar   =====================*/
.sidebar-toggle {
    margin-left: -240px;
}

.sidebar {
    width: 240px;
    background: #d7ab75;
    float: left;
    position: absolute;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
    margin: 40px;
}

.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
    margin: -2px 0 0;
    padding: 0;
}

.sidebar #leftside-navigation ul li {
    list-style-type: none;
    border-bottom: 1px solid #FFFFFF;
}

.sidebar #leftside-navigation ul li.active>a {
    color: #1abc9c;
}

.sidebar #leftside-navigation ul li.active ul {
    display: block;
}

.sidebar #leftside-navigation ul li a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 20px;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.sidebar #leftside-navigation ul li a:hover {
    color: #1abc9c;
}

.sidebar #leftside-navigation ul li a span {
    display: inline-block;
}

.sidebar #leftside-navigation ul li a i {
    width: 20px;
}

.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
    padding-top: 3px;
}

.sidebar #leftside-navigation ul ul {
    display: none;
}

.sidebar #leftside-navigation ul ul li {
    background: #d7ab75;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
}

.sidebar #leftside-navigation ul ul li a {
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #FFFFFF;
}
/* =================  sidebar   =====================*/

td {
    margin: 20px 0px 20px 0px;
}

.main_content {
    background-color: aqua;
    float: center;
    margin: 40px 200px 0px 400px;
}

.main_content2 {
    background-color: aqua;
    float: center;
    margin: 40px 200px 0px 400px;
    font-size: 20px;
}

/* =================  商品照片   =====================*/
.product_pic {
    width: 100px;
    height: 75px;
}
/* =================  商品照片   =====================*/

/* =================  表格   =====================*/
div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}

.table-title h3 {
    color: #4E5066;
    font-size: 30px;
    font-weight: 400;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.table-fill {
    /* background: white; */
    border-radius: 3px;
    border-collapse: collapse;
    height: 10%;
    margin: auto 25% auto 25%;
    max-width: 70%;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.table-fill2 {
    /* background: white; */
    border-radius: 3px;
    border-collapse: collapse;
    height: 10%;
    margin: 15px 25% 15px 25%;
    max-width: 70%;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #D5DDE5;
    background: #58584c;
    border-right: 1px solid #343a45;
    font-size: 20px;
    font-weight: 100;
    padding: 12px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background: #4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 20px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}
/* =================  表格   =====================*/

/* =================  footer   =====================*/
footer {
  position: relative; 
  text-align: center;
  bottom: 0;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  /* border: 1px black solid; */
  width: 100%;
  background-color: #dbb07c;
  /* color: #FFFFFF; */
  font-size: 16px;
  font-weight: bold;
  /* margin-top: 100px !important; */
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px !important;
  font-size: 16px;
}
/* =================  footer   =====================*/

.logout_button {
    margin-right: 1.75rem;
    margin-top: 5px;   
	background-color: #d7ab75;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.125rem;     
	transition-duration: 0.4s;
	cursor: pointer;
    vertical-align: middle;
    position: relative;

}

.logout_button:hover {
    text-decoration: none;
    color: #FFFFFF; 
    font-weight: bold;
}

/* =================  ginny   =====================*/
.updateButton, .comment , .button{
    background-color: #636060;
    border: 0cm ;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color:#D5DDE5;
    margin: 5px 0px;
}

.commentArea{
    background-color: #EEE;
    border-radius: 4px;
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);;
    width: 450px;
    height: 300px;
    position: relative;
    margin: auto 25% auto 25%;
    padding-left: 10px;    
}

#close{
    position: relative;
    left:400px;
    top: 10px;
    cursor: pointer;
}

.textarea{    
    border-color: #6d6a68;
    width: 420px;
    height: 200px;
    resize: none;   
}

#commentButton{
    position: relative;
    left:350px;
    margin-top: 0px;

}

.-off{
    display: none;
}

div.star_block{
    display: inline-block;
}
div.star_block > span.star{
    cursor: pointer;
    display: inline-block;
    margin-right: 3px;
}
div.star_block > span.star.-on{
    color: yellow;
}